# 拡張子が.exeのファイルを除外する
*.exe
# Bin/binディレクトリとその中身を除外する
[Bb]in/
*/bin/
# objディレクトリとその中身を除外する
obj/
*/obj/
# 特定のディレクトリの中の特定の拡張子のファイルを除外する
out/*.log
# 拡張子が.outのファイルを除外する
*.out
# Prerequisites
*.d
# practiceディレクトリとその中身を除外する
practice/

# Cashe files
*.cache
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
